@use 'reset';
@use 'variables';
@use 'mixins';

/* 1. Home Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: variables.$white;
	background-image: url(/dist/img/background.jpeg);
	font-family: 'Open Sans', sans-serif;
	line-height: 1.2;

	@include mixins.bp-small{
		background-image: url(/dist/img/mobile-background.jpeg);
	}
}

.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/dist/img/main-scuf.jpg);
	background-position: center;
	background-size: cover;
	position: relative;

	nav{
		display: flex;
		padding: 2% 6%;
		justify-content: space-between;
		align-items: center;

		img{
			width: 15em;

			@include mixins.bp-small{
				width: 10em;
			}
		}

		.nav-links{
			flex: 1;
			text-align: right;

			@include mixins.bp-small{
				position: absolute;
				background: variables.$orange;
				height: 100vh;
				width: 12.5em;
				top: 0;
				right: -12.5em;
				text-align: left;
				z-index: 2;
			}

			.fa-solid{
				display: none;

				@include mixins.bp-small{
					display: block;
					color: variables.$white;
					margin: 0.625em;
					font-size: 1.375em;
					cursor: pointer;
				}
			}

			ul{

				@include mixins.bp-small{
					padding: 1.875em;
				}
			}

			li{
				list-style: none;
				display: inline-block;
				padding: 0.5em 0.75em;
				position: relative;

				@include mixins.bp-small{
					display: block;
				}
			}

			li::after{
				content: '';
				width: 0%;
				height: 0.125em;
				background: variables.$orange;
				display: block;
				margin: auto;
				margin-top: 0.4em;
				transition: 0.5s;
			}

			li:hover::after{
				width: 100%;
			}

			a{
				color: variables.$white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.5em;
			}
		}
	}

	.text-box{
		width: 90%;
		color: variables.$white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1{
			font-size: 5em;
			font-weight: 700;
			text-transform: uppercase;

			@include mixins.bp-small{
				font-size: 1.5em;
			}
		}

		p{
			margin: 2em 0 2.5em;
			font-size: 3em;

			@include mixins.bp-small{
				font-size: 2em;
			}
		}

		.btn{
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none;
			color: variables.$dark-grey;
			border: 1px solid variables.$orange;
			border-radius: 50px;
			padding: 0.75em 2.125em;
			font-size: 1.5em;
			font-weight: 700;
			background: variables.$orange;
			position: relative;
			cursor: pointer;
			transition: 0.3s;

			@include mixins.bp-small{
				font-size: 1em;
			}
		}

		.btn:hover{
			border: 1px solid variables.$dark-grey;
			background: variables.$dark-grey;
			color: variables.$orange;
		}
	}
}

.products{
	margin: auto;
	text-align: center;
	padding-top: 6.25em;

	h2{
		font-size: 2.25em;
		font-weight: 700;
		text-transform: uppercase;
	}

	p{
		color: variables.$dark-grey;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.375em;
		padding: 0.625em;
	}

	.row{
		margin-top: 5%;
		display: flex;
		justify-content: space-between;

		@include mixins.bp-small{
			flex-direction: column;
			margin-top: 3em;
		}

		.products-col{
			flex-basis: 31%;
			margin-bottom: 5%;
			padding: 1.25em 0.75em;
			box-sizing: border-box;
			transition: 0.5s;

			@include mixins.bp-small{
				margin-bottom: 8em;
			}

			.products-col:hover{
				box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
			}

			h3{
				text-align: center;
				font-weight: 700;
				font-size: 1.75em;
				text-transform: uppercase;
				margin: 0.625 0;
			}

			.gear{
				width: 100%;
				margin-top: 5%;
			}
			
			.btn{
				text-transform: uppercase;
				text-decoration: none;
				color: variables.$dark-grey;
				border: 1px solid variables.$orange;
				border-radius: 50px;
				padding: 0.75em 2.125em;
				margin-top: 5%;
				font-size: 0.813em;
				font-weight: 700;
				background: variables.$orange;
				cursor: pointer;
				transition: 0.3s;
			}

			.btn:hover{
				border: 1px solid variables.$dark-grey;
				background: variables.$dark-grey;
				color: variables.$orange;
			}

			.xbox{
				margin-bottom: 2.8em;
			}
			
			.headset{
				margin-bottom: 1.3em;
				
			}
		}
	}
}

.featured{
	width: 80%;
	margin: auto;
	text-align: center;
	// padding-top: 3.125em;

	h2{
		font-size: 2.25em;
		font-weight: 700;
		text-transform: uppercase;
	}

	p{
		color: variables.$dark-grey;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.375em;
		padding: 0.625em;
		margin-bottom: 5%;
	}

	.row{
		display: flex;

		@include mixins.bp-small{
			display: block;
		}

		.featured-col{
			margin-left: 2em;
			flex-basis: 32%;
			border-radius: 20px;
			margin-bottom: 0.625em;
			position: relative;
			overflow: hidden;

			@include mixins.bp-small{
				margin-left: 0;
			}

			img{
				width: 100%;
			}

			.layer{
				background: transparent;
				height: 100%;
				width: 100%;
				position: absolute;
				top: 0;
				right: 0;
				transition: 0.5s;

				h3{
					width: 100%;
					font-weight: 700;
					color: variables.$white;
					font-size: 1.625em;
					text-transform: uppercase;
					margin-bottom: 1em;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					position: absolute;
					opacity: 0;
					transition: 0.5s;
				}

			}

			.layer:hover h3{
				bottom: 49%;
				opacity: 1;
			}
			
			.layer:hover{
				background: variables.$dark-transparent;
			}
		}
	}

}

.most-popular{
	margin: auto;
	text-align: center;
	padding-top: 6.25em;
	
	h2{
		font-size: 2.25em;
		font-weight: 700;
		text-transform: uppercase;
	}

	p{
		color: variables.$dark-grey;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.375em;
		padding: 0.625em;
		margin-bottom: 5%;
	}

	.row{
		display: flex;

		@include mixins.bp-small{
			display: block;
		}

		.popular-col{
			flex-basis: 33%;
			margin-bottom: 5%;

			img{
				width: 100%;
			}

			h3{
				font-weight: 700;
				font-size: 1.5em;
				text-transform: uppercase;
			}

			p{
				padding: 0;
			}

			.btn{
				text-transform: uppercase;
				text-decoration: none;
				color: variables.$dark-grey;
				border: 1px solid variables.$orange;
				border-radius: 50px;
				padding: 0.75em 2.125em;
				margin-top: 5%;
				font-size: 0.813em;
				font-weight: 700;
				background: variables.$orange;
				cursor: pointer;
				transition: 0.3s;
			}

			.btn:hover{
				border: 1px solid variables.$dark-grey;
				background: variables.$dark-grey;
				color: variables.$orange;
			}
		}
	}
}

.reflex{
	margin: 6.25em auto;
	width: 80%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(/dist/img/ppr.png);
	background-position: center;
	background-size: cover;
	border-radius: 20px;
	text-align: center;
	padding: 6.25em 0;
	line-height: 2;

	p{
		font-size: 1.5em;
		color: variables.$white;
		text-transform: uppercase;

		@include mixins.bp-small{
			font-size: 0.75em;
		}
	}

	h2{
		color: variables.$white;
		margin-bottom: 2.5;
		padding: 0;
		font-size: 2.25em;
		font-weight: 700;
		text-transform: uppercase;

		@include mixins.bp-small{
			font-size: 1.5em;
		}
	}

	.btn{
		text-transform: uppercase;
		text-decoration: none;
		color: variables.$white;
		transition: 0.5s;
	}

	.btn:hover{
		color: variables.$orange;
	}
}

.flex{
	display: flex;
	justify-content: space-between;
	background-color: variables.$black;
	line-height: 1.5;
	padding: 3em;
	
	@include mixins.bp-small{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 2em;
		text-align: center;
	}

	.footer-col{
		color: variables.$light-grey;
		
		h4{
			color: variables.$orange;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.25em;
		}

		nav{
			@include mixins.bp-small{
				margin-bottom: 2em;
			}
		}

		a{
			text-decoration: none;
			color: variables.$light-grey;
			font-size: 1.25em;
			line-height: 1.7;
		}
	}
}
/* 2. Gaming Layout ================================= */

.header-vault{
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://scufgaming.com/media/prismic/74e1fcee-2ac5-484c-aa08-35b3cecf0374_scuf_vault_dt_2880x1666_v2.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 40vh;
	width: 100%;
	position: relative;

	nav{
		display: flex;
		padding: 2% 6%;
		justify-content: space-between;
		align-items: center;

		img{
			width: 15em;

			@include mixins.bp-small{
				width: 10em;
			}
		}

		.nav-links{
			flex: 1;
			text-align: right;

			@include mixins.bp-small{
				position: absolute;
				background: variables.$orange;
				height: 100vh;
				width: 12.5em;
				top: 0;
				right: -12.5em;
				text-align: left;
				z-index: 2;
			}

			.fa-solid{
				display: none;

				@include mixins.bp-small{
					display: block;
					color: variables.$white;
					margin: 0.625em;
					font-size: 1.375em;
					cursor: pointer;
				}
			}

			ul{

				@include mixins.bp-small{
					padding: 1.875em;
				}
			}

			li{
				list-style: none;
				display: inline-block;
				padding: 0.5em 0.75em;
				position: relative;

				@include mixins.bp-small{
					display: block;
				}
			}

			li::after{
				content: '';
				width: 0%;
				height: 0.125em;
				background: variables.$orange;
				display: block;
				margin: auto;
				margin-top: 0.4em;
				transition: 0.5s;
			}

			li:hover::after{
				width: 100%;
			}

			a{
				color: variables.$white;
				text-decoration: none;
				text-transform: uppercase;
				font-size: 1.5em;
			}
		}
	}

	.text-box{
		width: 90%;
		color: variables.$white;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;

		h1{
			font-size: 4em;
			font-weight: 700;
			text-transform: uppercase;
			padding-top: 2em;

			@include mixins.bp-small{
				font-size: 1.5em;
			}
		}

		p{
			margin: 2em 0 2.5em;
			font-size: 2em;
		}

		.btn{
			display: inline-block;
			text-transform: uppercase;
			text-decoration: none;
			color: variables.$dark-grey;
			border: 1px solid variables.$orange;
			border-radius: 50px;
			padding: 0.75em 2.125em;
			font-size: 1.2em;
			font-weight: 700;
			background: variables.$orange;
			position: relative;
			cursor: pointer;
			transition: 0.3s;
		}

		.btn:hover{
			border: 1px solid variables.$dark-grey;
			background: variables.$dark-grey;
			color: variables.$orange;
		}
	}
}

.context{
	
	.context-copy{
		margin: 3em 15em;

		@include mixins.bp-small{
			margin: 3em;
		}
		
		p{
			line-height: 1.9;
			color: variables.$dark-grey;
		}
	}
}

.vault{
	display: flex;
	text-align: center;
	background-color: variables.$black;
	width: 100%;

	@include mixins.bp-small{
		flex-direction: column;
	}

	.vault-row{
		padding: 2em;

		img{
			width: 100%;
		}

		h2{
			font-size: 2.25em;
			font-weight: 700;
			text-transform: uppercase;
			color: variables.$orange;
		}

		.series{
			margin-bottom: 2em;
			font-size: 1.2em;
			text-transform: uppercase;
			color: variables.$orange;
		}

		p{
			margin-bottom: 2em;
			font-size: 1.1em;
			color: variables.$light-grey;
		}

		.btn{
			text-transform: uppercase;
			text-decoration: none;
			color: variables.$dark-grey;
			border: 1px solid variables.$orange;
			border-radius: 50px;
			padding: 0.75em 2.125em;
			margin-top: 5%;
			font-weight: 700;
			background: variables.$orange;
			cursor: pointer;
			transition: 0.3s;
		}

		.btn:hover{
			border: 1px solid variables.$dark-grey;
			background: variables.$dark-grey;
			color: variables.$orange;
		}

		.vl{
			padding: 0.25em 1em;
		}

		.vantage-links{
			display: flex;
			flex-direction: column;
			line-height: 2;
		}
	}
}

.guides{
	margin: 5%;

	.guides-col{
		display: grid;
		grid-template-columns: 1fr 1fr;

		@include mixins.bp-small{
			display: flex;
		}

		.guides-text{
			place-self: center;

			h2{
				font-size: 2.25em;
				font-weight: 700;
				text-transform: uppercase;
				margin-bottom: 1em;
			}

			p{
				padding-right: 3em;
				padding-bottom: 2em;

				@include mixins.bp-small{
					padding-right: 1em;
				}
			}

			a{
				text-decoration: none;
				text-transform: uppercase;
				color: variables.$dark-grey;
				font-weight: 700;
				transition: 0.5s;
			}

			a:hover{
				color: variables.$orange;
			}
		}

		.games{
			display: flex;
			flex-wrap: wrap;
		}

		img{
			width: 50%;

			@include mixins.bp-small{
				width: 50%;
			}
		}
	}
}
